.MuiPickersDay-root.Mui-selected,
.MuiMultiSectionDigitalClockSection-item.Mui-selected {
    background-color: $orange-main !important;
}

.MuiMultiSectionDigitalClockSection-item.Mui-selected {
    border-radius: $border-radius;
}

.MuiFormControl-fullWidth {
    max-width: 200px !important;
}

@include media-breakpoint-down(sm) {
    .MuiFormControl-fullWidth {
        max-width: 260px !important;
    }
}