.travelling-selector {
  background-image: url("../../assets/Home/main-town.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@include media-breakpoint-down(sm) {
  .travelling-selector {
    height: 50vh;
  }
}
